<!DOCTYPE html>
<html lang="en-US" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout-admin/layout-admin}">
<body>
   <div layout:fragment="content">
    <div class="content-wrapper">
        <div class="container-fluid overflow-hidden">
            <div class="m-5">
            
                <div id="page-title" class="background-white full-width box-shadow p-3">
                    <div class="container m-0 p-2">
                        <h1 class="font-weight-300 m-0"><i class="fas fa-fw fa-eye margin-right-10px text-main-color"></i> [[#{visits.title}]]</h1>
                    </div>
                </div>
                
                <div class="my-4 mx-1 text-center" >
                
                    <div class="row background-white thum-hover box-shadow hvr-float full-width mb-4" th:each="visit : ${visits}" th:attr="style=${visit.isCompleted ? 'border:3px solid #5cbd95' : 'border:3px solid #0864b2'}">
                        <div class="padding-lr-25px py-3 row" style="text-align: left;">
                        	<div class="col-lg-6">
                                <span class="text-grey-2">
	                            	<i class="far fa-calendar"></i> 
	                                &nbsp; <strong>[[${#temporals.format(visit.startHour, 'dd-MM-yyyy')}]]</strong>
	                            	&nbsp; &nbsp; [[#{visits.start}]]: <strong>[[${#temporals.format(visit.startHour, 'HH:mm')}]]</strong>
	                            	&nbsp; &nbsp; [[#{visits.end}]]: <strong>[[${#temporals.format(visit.endHour, 'HH:mm')}]]</strong>
	                            </span>
	                            <h2 class="text-dark text-capitalize text-medium margin-tb-15px">
									[[${visit.reservation.patient.fullName}]]
									&nbsp; &nbsp; [[#{userForm.gender}]]: <strong>[[${visit.reservation.patient.gender}]]</strong>
									&nbsp; &nbsp; [[#{visits.age}]]: <strong>[[${visit.reservation.patient.age}]]</strong>
								</h2>
								<h2 class="text-dark text-capitalize text-medium margin-tb-15px">
									[[${visit.reservation.exam.name}]]
								</h2>
								<h2 class="text-dark text-capitalize text-medium margin-tb-15px">
									[[#{visits.complete2}]] &nbsp; &nbsp; <i th:attr="class=${visit.isCompleted ? 'far fa-check-square' : 'far fa-square'}"></i> 
								</h2>
								<h2 class="text-dark text-capitalize text-medium margin-tb-15px">
									[[#{diagnosis.title}]] &nbsp; &nbsp; <i th:attr="class=${visit.diagnosis != null ? 'far fa-check-square' : 'far fa-square'}"></i> 
								</h2>
                            </div>
                            <div class="col-lg-6">
                            	<div class="float-right p-3">
                            		<ul class="list-group" >
                            			<li class="list-group-item" style="border: none;" th:if="${!visit.isCompleted}">
		                            		<a th:href="@{/doctor/visit/complete(id=${visit.id})}" class="btn btn-primary float-right" th:text="#{visits.completeBtn}" style="cursor: pointer; width: 100%"></a>
                            			</li>
                            			<li class="list-group-item" style="border: none;" th:if="${visit.diagnosis == null}">
		                            		<a th:href="@{/doctor/diagnosis/create(visitId=${visit.id})}" onMouseOut="this.style.color='black'" onMouseOver="this.style.color='white'" class="btn float-right" th:text="#{diagnosis.add}" style="cursor: pointer; width: 100%;background-color: #5cbd95;"></a>
                            			</li>
                            		</ul>
                            	</div>
                            	
                            </div>
                            
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
   </div>
</body>
</html>
