<!DOCTYPE html>
<html lang="en-US" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout-admin/layout-admin}">
<body>
 <div layout:fragment="content">
    <div class="content-wrapper">
        <div class="container-fluid overflow-hidden">
            <div class="row margin-tb-90px margin-lr-10px sm-mrl-0px">
                <!-- Page Title -->
                <div id="page-title" class="padding-30px background-white full-width">
                    <div class="container">
                        <h1 class="font-weight-300">[[#{profile.title}]]</h1>
                    </div>
                </div>
                <!-- // Page Title -->

                <div class="row margin-tb-45px full-width">
                    <div class="col-md-4">
                        <div class="padding-15px background-white">
                            <a href="#" class="d-block margin-bottom-10px"><img src="assets/img/profile-img.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                        <style>
                        .campi{
						border: 1px solid black;
						background-color:white;	
						border-radius: 5px;	
						}
						
						h6{
							padding-top:5px;
						}
                        </style>
                            <div class="col-md-6 margin-bottom-20px">
                                <label ><i  class="far fa-user margin-right-10px"></i>  Name</label>
                                <div class="campi">
                                	<center><h6  th:text="${user.name}">kokok</h6></center>
                                </div>
                            </div>
                            <div class="col-md-6 margin-bottom-20px">
                                <label><i class="far fa-user margin-right-10px"></i> Surname</label>
                                <div class="campi">
                                	<center><h6 th:text="${user.surname}">kokok</h6></center>
                                </div>
                            </div>
                            <div class="col-md-6 margin-bottom-20px">
                                <label><i class="far fa-user margin-right-10px"></i> Username</label>
                                <div class="campi">
                                	<center><h6 th:text="${user.username}">kokok</h6></center>
                                </div>
                            </div>
                             <div class="col-md-6 margin-bottom-20px">
                                <label><i class="far fa-envelope-open margin-right-10px"></i> Email</label>
                                <div class="campi">
                                	<center><h6 th:text="${user.email}">kokok</h6></center>
                                </div>
                            </div>
                             <div class="col-md-6 margin-bottom-20px">
                                <label ><i  class="fa fa-code margin-right-10px"></i>  Fiscal Code</label>
                                <div class="campi">
                                	<center><h6  th:text="${user.fiscalCode}">kokok</h6></center>
                                </div>
                            </div>
                            <div class="col-md-6 margin-bottom-20px" sec:authorize="hasRole('doctor')">
                                <label><i class="fas fa-file-certificate margin-right-10px"></i> Specilization</label>
                                <div class="campi">
                                	<center><h6  th:text="${user.specialization}">kokok</h6></center>
                                </div>
                            </div>
                              <div class="col-md-6 margin-bottom-20px">
                                <label><i class="fas fa-lock margin-right-10px"></i> Date Of Birth</label>
                                <div class="campi">
                                	<center><h6 th:text="${user.dateOfBirth}">kokok</h6></center>
                                </div>
                            </div>
            				<div class="col-md-6 margin-bottom-20px"  sec:authorize="hasRole('doctor') || hasRole('patient')">
                                <label><i class="fas fa-lock margin-right-10px"></i> Has Visit to complete</label>
                               <input type="checkbox"> 
                            </div>
                            <div class="col-md-6 margin-bottom-20px">
                                <label><i class="fas fa-mars-double margin-right-10px"></i> Gender</label>
                                <div class="campi">
                                	<center><h6 th:text="${user.gender}">kokok</h6></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</body>
</html>
