<!DOCTYPE html>
<html lang="en-US" mlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout/layout}">

<body>
	
    <div layout:fragment="content">
    <script th:inline="javascript">
		$(document).ready(function () {
		    $('#navExams').append('<ul id="nav" class="pagination pagination-md "></ul>');  
		    var rowsShown = 4;  
		    var rowsTotal = $('#data .reservation').length;  
		    console.log(rowsTotal);
		    var numPages = rowsTotal/rowsShown; 
		    console.log(numPages);

		    if(numPages > 1) {
				$('#nav').append('<li class="page-item"><a class="page-link rounded-0" href="javascript::" rel="0" tabindex="-1"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>');
			 	for (i = 0;i < numPages;i++) {  
			        var pageNum = i + 1;
			        $('#nav').append ('<li class="page-item"><a href="javascript::" class="page-link" rel="'+i+'">'+pageNum+'</a></li> ');  
			    }
			    $('#nav').append('<li class="page-item"><a class="page-link rounded-0" href="javascript::" rel="'+(numPages-1)+'"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>');
			    
			    $('#data .reservation').hide();  
			    $('#data .reservation').slice (0, rowsShown).show();  
			    $('#nav a:first').addClass('active');  
			    $('#nav a').bind('click', function() {  
				$('#nav a').removeClass('active');  
			   	$(this).addClass('active');  
			        var currPage = $(this).attr('rel');  
			        var startItem = currPage * rowsShown;  
			        var endItem = startItem + rowsShown;  
			        $('#data .reservation').css('opacity','0.0').hide().slice(startItem, endItem).  
			        css('display','table-row').animate({opacity:1}, 300);  
			    }); 
			}		    
		});
		
	$(document).ready(function() {
			
            $('.apri').click(  //agisco sul trigger
            function(){
			var win = $(this).parent().parent();
			var apri = this;
            $(win).children().show("2000");
            $(this).hide(); 
          	$(win).children('.chiudi').show();
          	       	 
            $('.chiudi').click(function(){
		    $(this).parent('.chiudi');
          	$(win).children('.chiudi').hide();
		    $(win).children('#box').hide('2000');
		    $(apri).show();
			})
            });
           
    });
	</script>
	
            
    <div class="row no-gutters">
     <div class="content-wrapper" style="margin-left:50px;">

    	 <div class="container-fluid overflow-hidden">
       
            <div class="row margin-tb-0px margin-lr-10px sm-mrl-0px">
                <!-- Page Title -->
                 <div class="container-fluid overflow-hidden">
        			<ul class="nav nav-tabs" style="margin-top:20px;">
					  <li class="nav-item"><a class="nav-link "th:href="#{profile}">[[#{patient.profile}]]</a></li>
					  <li class="nav-item"><a class="nav-link active" th:href="#{visits}" href="#">[[#{patient.myVisits}]]</a></li>
					  <li class="nav-item"><a class="nav-link " th:href="#{reservations}">[[#{patient.reservations}]]</a></li>
             </ul>
            <div class="row margin-tb-px margin-lr-10px sm-mrl-0px">
                <div id="page-title" class="padding-30px background-white full-width box-shadow">
                    <div class="container">
 
                        <h1 class="font-weight-300">[[#{visits.patient}]]</h1>
                    </div>
                </div>
		   
            <div class="text-center">
	            
                <div class="float-left padding-left-15px" ></div>
                <div class="float-left padding-left-15px"></div>
                <div  class="float-right padding-right-15px"></div>
                <div class="clearfix"></div>
                <div  class="row margin-top-45px">
                    <div class="col-md-3 margin-bottom-45px reservation" id="data" th:each="reservation : ${reservations}" th:if="${reservation.visit.isCompleted} == true">
                        <div class="background-white thum-hover box-shadow hvr-float"   >
                        <form th:action="@{/patient/visits}" th:object="${review}" method="POST">
                            <div class="item-thumbnail background-white">
                                <a href="#"><img th:if="${!reservation.exam.getImages().isEmpty()}" th:src="${reservation.exam.getImages().get(0).getUrl()}" alt=""></a>
                            </div>
                            <div class="padding-20px">
                                <h5 class="margin-bottom-20px" th:text="${reservation.exam.name}"><a class="text-dark" ></a></h5>
                                <div class="rating clearfix">
                                   
                                </div>
                            </div>
                            <div id="father" class=" father padding-lr-30px padding-tb-15px background-light-grey">
                                <div class="row no-gutters" style="margin-left:50px;">
                                    <button style="margin-bottom:20px;background:#00b0ff;border:none;" clicked=false  class="btn btn-primary background-second-color box-shadow apri"  >[[#{visit.add.review}]]</button>
                                </div>
                                <div style="display:none" id="box">
                                <div class="form-outline">
                                 <textarea th:field="*{body}" type="text" class="form-control" id="textAreaExample" rows="6"  placeholder="Add a review" required></textarea>
                                 <input th:field="*{vote}" min="1" max="10" type="number" id="inputNumber1" name="inputNumber1" style="margin-top:20px; width:150px; border-radius:10px; background-color:white; text-align:center;">
                                 </div>
                                 <div></div>
                                 <button style="margin-top:30px;background:#00b0ff;border:none;" id="box" class="btn btn-primary">[[#{visit.review.send}]]</button>
                                </div>
                                  <div style=" display:none; margin-top:20px;" class="chiudi background-light-grey">
                                  <button  class="btn chiudi">[[#{visit.hide}]] </button>
                               </div>
                            </div>
                       
                          </form>
                        
                        </div>
                    </div>
                </div>
                <!-- // row -->
                
                <div class="row">
                	<div class="col-md-4"></div>
                	<div class="col-md-4" id="navExams"></div>
                	<div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
     </div>
   </div>	
  </div>
 </div>	
</div>	

</body>
</html>
