<!DOCTYPE html>
<html lang="en-US" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout/layout}">
<body>
  <div layout:fragment="content">
  <script th:inline="javascript">
		$(document).ready(function () {
		    $('#navExams').append('<ul id="nav" class="pagination pagination-md "></ul>');  
		    var rowsShown = 4;  
		    var rowsTotal = $('#data .exam').length;  
		    console.log(rowsTotal);
		    var numPages = rowsTotal/rowsShown; 
		    
		    if(numPages > 1) {
				$('#nav').append('<li class="page-item"><a class="page-link rounded-0" href="javascript::" rel="0" tabindex="-1"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>');
			 	for (i = 0;i < numPages;i++) {  
			        var pageNum = i + 1;
			        $('#nav').append ('<li class="page-item"><a href="javascript::" class="page-link" rel="'+i+'">'+pageNum+'</a></li> ');  
			    }
			    $('#nav').append('<li class="page-item"><a class="page-link rounded-0" href="javascript::" rel="'+(numPages-1)+'"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>');
			    
			    $('#data .exam').hide();  
			    $('#data .exam').slice (0, rowsShown).show();  
			    $('#nav a:first').addClass('active');  
			    $('#nav a').bind('click', function() {  
				$('#nav a').removeClass('active');  
			   	$(this).addClass('active');  
			        var currPage = $(this).attr('rel');  
			        var startItem = currPage * rowsShown;  
			        var endItem = startItem + rowsShown;  
			        $('#data .exam').css('opacity','0.0').hide().slice(startItem, endItem).  
			        css('display','table-row').animate({opacity:1}, 300);  
			    }); 
			}
		    
		});
	</script>
	
     <div id="page-title" class="padding-tb-30px gradient-white">
        <div class="container">
            <h1 class="font-weight-300">[[#{doctors.title}]]</h1>
        </div>
    </div>
    
    <div class="margin-tb-30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="row">

                        <!-- Doctor -->
                        <div class="col-md-4 col-md-6 hvr-bob margin-bottom-45px">
                            <div class="background-white box-shadow" th:each= "doctor : ${doctors}">
                                <div class="thum">
                                    <a ><img th:src="@{/dist/img/doctor-1.jpg}" alt=""></a>
                                </div>
                                <div class="padding-30px">
                                    <span class="text-grey-2" th:text="${doctor.specialization}"></span>
                                    <a class="text-dark" th:href="@{'/doctors/'+ ${doctor.name}}"><h5 class="margin-tb-15px" th:text="${doctor.name + ' ' + doctor.surname}"></h5></a>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                    
                    <div class="row">
	                	<div class="col-md-4"></div>
	                	<div class="col-md-4" id="navExams"></div>
	                	<div class="col-md-4"></div>
                	</div>

                </div>
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </div>
  </div>
</body>

</html>
