<!DOCTYPE html>
<html lang="en-US"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorate="~{layout/layout}">
<body>
   <div layout:fragment="content">

    <div id="page-title" class="py-5 gradient-white">
        <div class="container">
            <h1 th:text="${exam.name}" class="font-weight-300"></h1>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="border-radius-10 background-white">
                        <hr>                       
                        <div class="post-tags mb-5" style="width: 100%;">
				          	
	                       <div class="row mr-3 mb-4">
	                       		<div class="item-thumbnail col-sm" style="height: 100%;">
	                        		<a href="#" class="text-center m-0"><img th:if="${!exam.getImages().isEmpty()}" th:src="${exam.getImages().get(0).getUrl()}" alt=""></a>
	                    		</div>
	                    		
	                    		<div class="entry-content col-sm" style="height: 100%;">
		                            <p th:text="${exam.description}"></p>
	                        	</div>
	                       </div>
				          	
                        	<div class="row item-thumbnail m-5">
					            <form class="col-sm" th:action="@{'/exam/'+ ${exam.name}}" method="POST" th:object="${reservation}" id="reservationForm">
				               		<div class="row mb-5 pricing hover-effect">
			               				<div class="col-lg-4 d-flex justify-content-center align-items-center">
			               					<h3 class="m-0">[[#{exam.price}]]: <span th:text="${exam.price}"></span> €</h3>
			               				</div>
			               				
			               				<div class="col-lg-4 d-flex justify-content-center align-items-center">
			               					<input sec:authorize="!isAuthenticated()" type="text" th:attr="placeholder=#{exam.date}" class="form-control" disabled>	
			               					<input sec:authorize="isAuthenticated()" type="text" id="picker2" class="form-control" th:field="*{startHour}" th:attr="placeholder=#{exam.date}">				                           
					                           <script>
													$(document).ready(function(){
														         var today = new Date();
															    $('#picker2').datetimepicker({
															      format:"Y-m-d H:m",
															      minDate: today,
															      onSelect: function(selectedDate) {
															       var option = this.id == "from" ? "minDate" : "maxDate",
																	            instance = $(this).data("datepicker"),
																	            date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
																	        dates.not(this).datepicker("option", option, date);
																  }
																})
															});
												</script>
			               				</div>
			               				
				               			<div class="col-lg-4 d-flex justify-content-center align-items-center px-5">
						                    <div class="pricing-footer rounded-3" style="height:50px;width:100%;">
						                        <button type="submit" sec:authorize="isAuthenticated()" style="width:100%; background:#00b0ff; color:white; height:100%; font-size:17px; border-color:transparent; border-radius: 5px"> [[#{exam.book}]]</button>
						                        <a th:href="@{'/auth/signIn'}" sec:authorize="!isAuthenticated()" style="width:100%; background:#00b0ff; color:white; height:100%; font-size:30px; font-family: 'Roboto', sans-serif; text-decoration: none;border-radius: 5px"> <center style="color:white; font-size:17px; margin-top:10px;">[[#{exam.login}]]</center></a>
						                    </div>
				               			</div>
		               				</div>
					             </form>
				          	</div>
                       </div>
                    </div>
                </div>

                <div class="col-lg-4">
					<div class="margin-bottom-30px">
                        <div class="px-3 background-white border-radius-10">
                            <h4 ><i class="fas fa-comment-alt margin-right-10px text-main-color"></i>[[#{exam.reviews}]] <span th:text="${'(' + reviews.size() + ')'}"></span></h4>
                            
                            <hr>

                            <ul class="padding-0px margin-0px list-unstyled text-grey-3">
                                <li class="border-bottom-1 border-grey-1 margin-bottom-20px" th:each="singleReview : ${reviews}">
                                    <!--<img src="assets/img/testimonial-1.png" class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">-->
                                    
                                	<a href="#" class="text-main-color mb-1" th:text="${singleReview.patient.username}"></a>
                                	<div class="rating clearfix mt-3">
                                        <ul class="float-left">
                                            <li th:class="${singleReview.vote > 0 ? 'active' : ''}"></li>
                                            <li th:class="${singleReview.vote > 1 ? 'active' : ''}"></li>
                                            <li th:class="${singleReview.vote > 2 ? 'active' : ''}"></li>
                                            <li th:class="${singleReview.vote > 3 ? 'active' : ''}"></li>
                                            <li th:class="${singleReview.vote > 4 ? 'active' : ''}"></li>
                                        </ul>
                                	</div>
                                	<p class="mt-3" th:text="${singleReview.title}"></p>	
                                    <p class="mt-3 text-grey-2" th:text="${singleReview.body}"></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
   </div>    
</body>
</html>
